body {
    margin: 0;
    background-color: #0c0c0c;
    
.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container {
    justify-content: center;
}

.header_wrap {
    
    .logo_container {

    }
    .login_inputs__wrap {
        width: 420px;
        height: 120px;
    }
    .login_inputs__container {

    }
}

.page_wrap {

    .page_container {
        
    }
}
}